html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #666;
    max-width: max-content;
    padding: 20px 10px 10px 10px;
    border-radius: 20px;
}

.screen {
    width: 356px;
    height: 50px;
    font-size: 40px;
    text-align: right;
    padding: 5px 20px 5px 20px;
    background-color: #eeeeee;
    border-radius: 8px;
    margin: 2px;
    justify-content: center;
}

.equation {
    width: 356px;
    height: 24px;
    font-size: 14px;
    text-align: right;
    padding: 5px 20px 5px 20px;
    background-color: #eeeeee;
    border-radius: 8px;
    margin: 2px;
}

.button-container {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
   /* padding: 8px; */
}

button {
    width: 96px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: all .07s ease;
    border-radius: 8px;
    border: 0 solid black;
    margin: 2px;
}

.double {
    width: 196px;
}

.equal {
    background-color: darkgray;
}

.operator {
    background-color: lightgray;
}

.pressed {
    background-color: #666;
}

.pressed-operator {
    background-color: coral;
}
